# Imports

In [65]:
from datetime import datetime
import tabula
tabula.environment_info()
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta

Python version:
    3.9.18 (main, Nov  2 2023, 17:01:24)
[Clang 14.0.0 (clang-1400.0.29.202)]
Java version:
    openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment AdoptOpenJDK (build 15.0.2+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 15.0.2+7, mixed mode, sharing)
tabula-py version: 2.8.2
platform: macOS-12.7.4-x86_64-i386-64bit
uname:
    uname_result(system='Darwin', node='Pro.local', release='21.6.0', version='Darwin Kernel Version 21.6.0: Wed Jan 31 21:08:42 PST 2024; root:xnu-8020.240.18.707.2~1/RELEASE_X86_64', machine='x86_64')
linux_distribution: ('Darwin', '21.6.0', '')
mac_ver: ('12.7.4', ('', '', ''), 'x86_64')

# WealthSimple Transaction

## Get the transation data

### from disk

In [160]:
# Specify the path to the directory
celi_directory_path = 'data/WealthSimple/CELI/'
cash_directory_path = 'data/WealthSimple/cash/'

path_list = [celi_directory_path, cash_directory_path]
# Get a list of file names in the directory
file_name_dict = {'celi':{'path': 'data/WealthSimple/CELI/',
                          'files':[] }, 
                  'cash':{'path': 'data/WealthSimple/cash/',
                          'files':[] }, 
                 }
# get the path of the files in the dictionary
for k, data in file_name_dict.items():
    for file in os.listdir(data['path']):
        if file[-3:]=="pdf":
            data['files'].append(file)
        
# file_name_dict

### to df

In [161]:
cash_col_name_list = ["CREDIT", "DEBIT", "BALANCE"]

def sort_debit_credit(df):
    credit_list = []
    debit_list = []
    for amount in df["AMOUNT"]:
        # print(amount[0])
        if amount[0] !="$":
            credit_list.append(None)
            debit_list.append(amount)
        else:
            credit_list.append(amount)
            debit_list.append(None)
    df["CREDIT"] = credit_list
    df["DEBIT"] = debit_list
    return df
                    
def clean_amount_col(cash_col_name_list, df):
    caracter_list = ["$", ",", '-']
    for col_name in cash_col_name_list:
        amount_list = []
        for amount in df[col_name]:
            if amount:
                for caracter in caracter_list:
                    amount = amount.replace(caracter, "")
                try:
                    amount = float(amount)
                except:
                    amount = float(amount[1:])
            amount_list.append(amount)
        df[col_name] = amount_list
    return df

def g(s):
    df = pd.DataFrame([x.split() for x in s])
    df.columns = ['date', 'transaction_code', 'description']
    df['description'] = df['description'].apply(lambda x: ' '.join(x[2:]))
    return df

def extract_info_from_Activity_Current_period_col(Activity_Current_period_col, col_name_list):
    data_list = []
    for desc in Activity_Current_period_col:
        date_operation_desc_list = desc.split()
        data_list.append([date_operation_desc_list[0], 
                          date_operation_desc_list[1], 
                          " ".join(date_operation_desc_list[2:])
                         ])
    df_right = pd.DataFrame(data_list, columns=col_name_list)
    return df_right
    
def get_transaction_df(dfs):
    col_name = ["DATE", "DESCRIPTION", "AMOUNT", "BALANCE"]
    num_row = 0
    df_list = []
    for filename in file_name_dict['cash']["files"]:
        file_path = file_name_dict['cash']["path"] + filename
        dfs = tabula.read_pdf(file_path, stream=True, pages="all")
        # print(f"File : {filename} has {len(dfs)} dataframe ")
        
        for i, df in enumerate(dfs):
            # print(f"  df {i} as {len(df.columns)} columns")
            
            if len(df.columns) == 4:
                if df.columns.to_list() == ['Activity - Current period', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2']:
                    # format columns
                    # all_col_name_list = [x for x in df.loc[0]]
                    # col_name_list = all_col_name_list[0].split()
                    # other_col_name_list = all_col_name_list[1:]
                    # old_name_col = df.columns.to_list()[1:4]
                    # df.rename(columns={x:y for x,y in zip(old_name_col, other_col_name_list)}, inplace=True)
                    
                    # df_copy = df[1:].copy()
                    # df_copy.reset_index(inplace=True)
                    # df_copy.drop("index", axis=1, inplace=True)
                    # # print(df_copy)
                    
                    # df_right = extract_info_from_Activity_Current_period_col(df_copy['Activity - Current period'], col_name_list)
                    
                    # joined_df = pd.concat([df_copy, df_right], axis=1)
                    
                    # print(joined_df)
                    pass
                else:
                    # pass
                    # print(df.head())
                    col_name = ["DATE", "DESCRIPTION", "AMOUNT", "BALANCE"]
                    values = df.columns.to_list()
                    first = pd.DataFrame({k:[v] for k,v in zip(col_name, values)})
                    df.columns = col_name
                    stacked_df = pd.concat([first, df], axis=0, ignore_index=True)
                    num_row += len(stacked_df)
                    stacked_df["DATE"] = pd.to_datetime(stacked_df["DATE"], format='%Y-%m-%d')
                    stacked_df = sort_debit_credit(stacked_df)
                    stacked_df = clean_amount_col(cash_col_name_list, stacked_df)
                    # print(stacked_df)
                    df_list.append(stacked_df)
        # print("----------------------------------")
    print(num_row)
    df_all = pd.concat(df_list, axis=0)
    df_all.reset_index(inplace=True)
    df_all.drop('index', axis=1, inplace=True)
    
    return df_all
    
transaction_df = get_transaction_df(dfs)    
# print(transaction_df)

310
          DATE             DESCRIPTION   AMOUNT   BALANCE  CREDIT  DEBIT
0   2023-12-01         Interest earned   $32.43  10507.83   32.43    NaN
1   2023-12-02       Cashback received    $0.11  10507.94    0.11    NaN
2   2023-12-02  Super C Pte Aux Trembl  –$10.73  10497.21     NaN  10.73
3   2023-12-02                    Maxi  –$11.42  10485.79     NaN  11.42
4   2023-12-02       Cashback received    $0.11  10485.90    0.11    NaN
..         ...                     ...      ...       ...     ...    ...
305 2023-10-29                    Maxi   –$5.16   8798.56     NaN   5.16
306 2023-10-30                    Maxi  –$16.37   8782.19     NaN  16.37
307 2023-10-30       Cashback received    $0.16   8782.35    0.16    NaN
308 2023-10-30                     Iga  –$35.08   8747.27     NaN  35.08
309 2023-10-30       Cashback received    $0.35   8747.62    0.35    NaN

[310 rows x 6 columns]

## Look at the merchants

In [178]:
merchant_list = list(transaction_df["DESCRIPTION"].sort_values().unique())
merchant_list

['Adonis Anjou',
 'Agence De Mobilite Dur',
 'Bikini Village',
 'Brunet Plus Anjou',
 'Bulk Barn',
 'Cashback received',
 'Charcuterie De Tours (',
 'Cinema Triomphe Inc.',
 'Costco Wholesale W525',
 'Couchetard',
 'Deposit',
 'Dollarama',
 'Ferme Sarrazin',
 'Grumpys Bar',
 'Iga',
 'Interest earned',
 'Jean Coutu 045',
 'Jean Coutu 267',
 'Kim Phat',
 'Kumamoto Ramen',
 "L' Echoppe Des Fromage",
 "L'atelier Du Pain",
 'La Vignoble Le Cep Dar',
 'Les Fraiches - Epiceri',
 'Marche Notre Dame 2225',
 'Marche St Jean Baptist',
 'Marche Toit Rouge',
 'Maxi',
 'Maxi & Cie Repentigny',
 "Mcdonald's",
 'Metro De La Rousselier',
 'Metro Fogarty',
 'Proxi Extra Orford',
 'Quebecloisirs Place',
 'Restaurant Le Boucan',
 'Saq23001 Ste-Catherine',
 'Saq23106carrefour De L',
 'Spanel Crepes Et Gourm',
 'Stm Loge Charlevoix N1',
 'Stm Loge Honor Beaugra',
 'Stm Loge Lionel Groulx',
 'Stm Loge Radisson N101',
 'Super C La Plaine 2598',
 'Super C Pte Aux Trembl',
 'Super C Repentigny',
 'Supermarche J P V Plou',
 'Suzy Shier',
 'Tim Hortons',
 'Tradition',
 'Walmart']

### Is there new merchant?

In [180]:
from investment.models import Merchant
existing_merchant_set =  {merchant.name for merchant in Merchant.objects.all()}

new_merchant_name_to_insert_list = [m for m in merchant_list if m not in existing_merchant_set]

new_merchant_name_to_insert_list

['Adonis Anjou',
 'Agence De Mobilite Dur',
 'Bikini Village',
 'Brunet Plus Anjou',
 'Bulk Barn',
 'Cashback received',
 'Charcuterie De Tours (',
 'Cinema Triomphe Inc.',
 'Costco Wholesale W525',
 'Couchetard',
 'Deposit',
 'Dollarama',
 'Ferme Sarrazin',
 'Grumpys Bar',
 'Iga',
 'Interest earned',
 'Jean Coutu 045',
 'Jean Coutu 267',
 'Kim Phat',
 'Kumamoto Ramen',
 "L' Echoppe Des Fromage",
 "L'atelier Du Pain",
 'La Vignoble Le Cep Dar',
 'Les Fraiches - Epiceri',
 'Marche Notre Dame 2225',
 'Marche St Jean Baptist',
 'Marche Toit Rouge',
 'Maxi',
 'Maxi & Cie Repentigny',
 "Mcdonald's",
 'Metro De La Rousselier',
 'Metro Fogarty',
 'Proxi Extra Orford',
 'Quebecloisirs Place',
 'Restaurant Le Boucan',
 'Saq23001 Ste-Catherine',
 'Saq23106carrefour De L',
 'Spanel Crepes Et Gourm',
 'Stm Loge Charlevoix N1',
 'Stm Loge Honor Beaugra',
 'Stm Loge Lionel Groulx',
 'Stm Loge Radisson N101',
 'Super C La Plaine 2598',
 'Super C Pte Aux Trembl',
 'Super C Repentigny',
 'Supermarche J P V Plou',
 'Suzy Shier',
 'Tim Hortons',
 'Tradition',
 'Walmart']

### Association mot clef -> catégorie

In [196]:
# les budget items ont des substring qui permette d'associer des marchand

categories = {
    "Épicerie": ["Adonis", "Costco", "Super C", "Iga", "Kim Phat", "Les Fraiches", "Maxi", "Metro"],
    "Vêtements": ["Bikini Village", "Dollarama", "Suzy Shier"],
    "Restaurants": ["Grumpys Bar", "Kumamoto Ramen", "Mcdonald's", "Restaurant Le Boucan"],
    "Bars": ["Grumpys Bar"],
    "Pharmacies": ["Brunet Plus Anjou", "Jean Coutu 045", "Jean Coutu 267"],
    "Vin": ["Saq23001 Ste-Catherine", "Saq23106carrefour De L", "La Vignoble Le Cep Dar" ],
    "Autres": ["Bulk Barn", "Cashback received", "Charcuterie De Tours", "Cinema Triomphe Inc.", "Deposit", "Ferme Sarrazin", "Interest earned", "L' Echoppe Des Fromage", "L'atelier Du Pain", "Marche Notre Dame 2225", "Marche St Jean Baptist", "Marche Toit Rouge", "Maxi & Cie Repentigny", "Proxi Extra Orford", "Quebecloisirs Place", "Spanel Crepes Et Gourm", "Supermarche J P V Plou", "Tradition", "Walmart"],
    "Transport Collectif": ["Agence De Mobilite Dur", "Stm"]  # Corrected key name and removed extra parenthesis
}

In [197]:
def categorize_strings(dictionary, string_list):
    result = {}
    for string in string_list:
        category_found = None
        for category, substrings in dictionary.items():
            if any(sub in string for sub in substrings):
                category_found = category
                break
        result[string] = category_found
    return result



result = categorize_strings(categories, new_merchant_name_to_insert_list)
print(result)

# categorized_merchant = categorize_strings(categories, new_merchant_name_to_insert_list)
# categorized_merchant

{'Adonis Anjou': 'Épicerie', 'Agence De Mobilite Dur': 'Transport Collectif', 'Bikini Village': 'Vêtements', 'Brunet Plus Anjou': 'Pharmacies', 'Bulk Barn': 'Autres', 'Cashback received': 'Autres', 'Charcuterie De Tours (': 'Autres', 'Cinema Triomphe Inc.': 'Autres', 'Costco Wholesale W525': 'Épicerie', 'Couchetard': None, 'Deposit': 'Autres', 'Dollarama': 'Vêtements', 'Ferme Sarrazin': 'Autres', 'Grumpys Bar': 'Restaurants', 'Iga': 'Épicerie', 'Interest earned': 'Autres', 'Jean Coutu 045': 'Pharmacies', 'Jean Coutu 267': 'Pharmacies', 'Kim Phat': 'Épicerie', 'Kumamoto Ramen': 'Restaurants', "L' Echoppe Des Fromage": 'Autres', "L'atelier Du Pain": 'Autres', 'La Vignoble Le Cep Dar': 'Vin', 'Les Fraiches - Epiceri': 'Épicerie', 'Marche Notre Dame 2225': 'Autres', 'Marche St Jean Baptist': 'Autres', 'Marche Toit Rouge': 'Autres', 'Maxi': 'Épicerie', 'Maxi & Cie Repentigny': 'Épicerie', "Mcdonald's": 'Restaurants', 'Metro De La Rousselier': 'Épicerie', 'Metro Fogarty': 'Épicerie', 'Proxi Extra Orford': 'Autres', 'Quebecloisirs Place': 'Autres', 'Restaurant Le Boucan': 'Restaurants', 'Saq23001 Ste-Catherine': 'Vin', 'Saq23106carrefour De L': 'Vin', 'Spanel Crepes Et Gourm': 'Autres', 'Stm Loge Charlevoix N1': 'Transport Collectif', 'Stm Loge Honor Beaugra': 'Transport Collectif', 'Stm Loge Lionel Groulx': 'Transport Collectif', 'Stm Loge Radisson N101': 'Transport Collectif', 'Super C La Plaine 2598': 'Épicerie', 'Super C Pte Aux Trembl': 'Épicerie', 'Super C Repentigny': 'Épicerie', 'Supermarche J P V Plou': 'Autres', 'Suzy Shier': 'Vêtements', 'Tim Hortons': None, 'Tradition': 'Autres', 'Walmart': 'Autres'}

In [103]:

    
                    
dfs_staked = sort_debit_credit(dfs_staked)
dfs_staked = clean_amount_col(cash_col_name_list, dfs_staked)
dfs_staked

,DATE,DESCRIPTION,AMOUNT,BALANCE,date,CREDIT,DEBIT
0,2023-12-01,Interest earned,$32.43,10507.83,2023-12-01,32.43,NaN
1,2023-12-02,Cashback received,$0.11,10507.94,2023-12-02,0.11,NaN
2,2023-12-02,Super C Pte Aux Trembl,–$10.73,10497.21,2023-12-02,NaN,10.73
3,2023-12-02,Maxi,–$11.42,10485.79,2023-12-02,NaN,11.42
4,2023-12-02,Cashback received,$0.11,10485.90,2023-12-02,0.11,NaN
...,...,...,...,...,...,...,...
305,2023-10-29,Maxi,–$5.16,8798.56,2023-10-29,NaN,5.16
306,2023-10-30,Maxi,–$16.37,8782.19,2023-10-30,NaN,16.37
307,2023-10-30,Cashback received,$0.16,8782.35,2023-10-30,0.16,NaN
308,2023-10-30,Iga,–$35.08,8747.27,2023-10-30,NaN,35.08
309,2023-10-30,Cashback received,$0.35,8747.62,2023-10-30,0.35,NaN

In [106]:
desc_count = dfs_staked["DESCRIPTION"].value_counts()
desc_count

DESCRIPTION
Cashback received         148
Metro De La Rousselier     25
Super C Pte Aux Trembl     21
Maxi                       20
Iga                        10
Deposit                     8
Saq23106carrefour De L      6
Adonis Anjou                6
Costco Wholesale W525       5
Interest earned             5
Dollarama                   4
Stm Loge Honor Beaugra      3
Super C Repentigny          3
Mcdonald's                  2
Maxi & Cie Repentigny       2
Brunet Plus Anjou           2
Tradition                   2
Super C La Plaine 2598      2
Marche Toit Rouge           2
Metro Fogarty               2
Marche St Jean Baptist      2
Jean Coutu 045              2
Bulk Barn                   1
Les Fraiches - Epiceri      1
Kumamoto Ramen              1
Charcuterie De Tours (      1
Saq23001 Ste-Catherine      1
Stm Loge Charlevoix N1      1
Spanel Crepes Et Gourm      1
Stm Loge Radisson N101      1
Supermarche J P V Plou      1
Ferme Sarrazin              1
Restaurant Le Boucan        1
La Vignoble Le Cep Dar      1
Suzy Shier                  1
Tim Hortons                 1
Quebecloisirs Place         1
Bikini Village              1
Agence De Mobilite Dur      1
L' Echoppe Des Fromage      1
L'atelier Du Pain           1
Proxi Extra Orford          1
Couchetard                  1
Marche Notre Dame 2225      1
Kim Phat                    1
Walmart                     1
Jean Coutu 267              1
Cinema Triomphe Inc.        1
Grumpys Bar                 1
Stm Loge Lionel Groulx      1
Name: count, dtype: int64

In [114]:
result = dfs_staked.groupby("DESCRIPTION").agg({
    "DESCRIPTION": 'count',  # Frequency count
    'DEBIT': 'sum',    # Sum of 'col2' values
    'CREDIT': 'sum'     # Sum of 'col3' values (assuming numerical)
})
result = result.rename(columns={'DESCRIPTION': 'Description'})
# .sort_values("DESCRIPTION", ascending=False)
result.sort_values("Description", ascending=False)

                        Description   DEBIT    CREDIT
DESCRIPTION
Cashback received               148    0.00     38.06
Metro De La Rousselier           25  402.01      0.00
Super C Pte Aux Trembl           21  823.83      0.00
Maxi                             20  306.93      0.00
Iga                              10  148.69      0.00
Deposit                           8    0.00  13400.00
Adonis Anjou                      6  173.33      0.00
Saq23106carrefour De L            6  149.75      0.00
Costco Wholesale W525             5  480.93      0.00
Interest earned                   5    0.00    117.56
Dollarama                         4   46.41      0.00
Stm Loge Honor Beaugra            3   25.00      0.00
Super C Repentigny                3  105.94      0.00
Marche Toit Rouge                 2   83.29      0.00
Super C La Plaine 2598            2   56.91      0.00
Metro Fogarty                     2   32.32      0.00
Tradition                         2   41.25      0.00
Mcdonald's                        2    9.22      0.00
Maxi & Cie Repentigny             2   25.52      0.00
Marche St Jean Baptist            2   54.90      0.00
Brunet Plus Anjou                 2    4.49      0.00
Jean Coutu 045                    2  170.62      0.00
L' Echoppe Des Fromage            1    9.37      0.00
Couchetard                        1    4.93      0.00
Bikini Village                    1   18.93      0.00
Tim Hortons                       1   71.95      0.00
Suzy Shier                        1   24.09      0.00
Supermarche J P V Plou            1   13.48      0.00
Bulk Barn                         1   17.86      0.00
Charcuterie De Tours (            1   47.80      0.00
Stm Loge Radisson N101            1   14.00      0.00
Stm Loge Lionel Groulx            1    7.00      0.00
Cinema Triomphe Inc.              1   26.00      0.00
Stm Loge Charlevoix N1            1    3.75      0.00
Spanel Crepes Et Gourm            1   42.31      0.00
Saq23001 Ste-Catherine            1   18.15      0.00
L'atelier Du Pain                 1    4.54      0.00
Restaurant Le Boucan              1  100.49      0.00
Quebecloisirs Place               1   23.58      0.00
Proxi Extra Orford                1    6.43      0.00
Ferme Sarrazin                    1   21.39      0.00
Grumpys Bar                       1   43.66      0.00
Jean Coutu 267                    1   10.34      0.00
Kim Phat                          1   26.95      0.00
Kumamoto Ramen                    1   31.54      0.00
Agence De Mobilite Dur            1    0.50      0.00
Marche Notre Dame 2225            1    2.50      0.00
Les Fraiches - Epiceri            1    6.95      0.00
La Vignoble Le Cep Dar            1   62.00      0.00
Walmart                           1   33.35      0.00

In [ ]:
# x = directory_path + data_list[0]
for file_name, d in data_dict.items():
    file_path = directory_path + file_name
    if os.path.isfile(file_path):
        print("is file")
        dfs = tabula.read_pdf(file_path, stream=True, pages="all")
        for index, df in enumerate(dfs):
            print("*********", index)
            col = df.iloc[0].to_list()
            df.columns = col
            df = df[1:]
            data_dict[file_name][index] = df

In [ ]:
from math import isnan
dict_0 = {}
dict_1 = {}
dict_2 = {}
col_1 = ['nan', 'nan', 'Market % of Market', 'Book', '% of Total Book']
col_2 = ['nan', 'Symbol', 'Total Quantity', 'Segregated', 'Market', 'Market', 'Book']
# list_of_col = 
market_value_list = []
percentage_market_value_list = []
for file_name, df_dict in data_dict.items():
    print("____________", file_name)
    print(f"there are {len(dfs)} Dataframes")
    for index, dfe in df_dict.items():
        df = dfe.copy()
        df_col = dfe.columns.to_list()
        if 'Market % of Market' in df_col:
            df = df.iloc[:,1: ]
            df = df[1:]
            df.dropna(inplace=True)
            df.reset_index(inplace=True)
            df.drop("index", axis=1, inplace=True)
            mv_pmv = df["Market % of Market"].str.split()
            # print(mv_pmv.to_list())
            market_value_list = [pd.to_numeric(x[0].replace("$", "").replace(",", "")) for x in mv_pmv.to_list()]
            percentage_market_value_list = [pd.to_numeric(x[1])/100 for x in mv_pmv.to_list()]
            df["Market Value"] = market_value_list
            df["% of Market Value"] = percentage_market_value_list
            df.drop("Market % of Market", axis=1, inplace=True)
            # df["Book"] = pd.to_numeric(df["Book"].replace("$", "").replace(",", "")) 
            df["Book"] = df["Book"].str.replace("$", "", regex=True)
            df["Book"] = pd.to_numeric(df["Book"].str.replace(",", "", regex=True))
            df.rename(columns={"Book": "Book Value", np.nan: "Description", "% of Total Book": "% of Total Book Value"}, inplace=True)
            df["% of Total Book Value"] = pd.to_numeric(df["% of Total Book Value"]) / 100
        elif 'Segregated' in df_col:
            df.rename(columns={np.nan: df.iloc[1, 0], 
                   "Segregated": "Segregated Quantity",
                  }, inplace=True)
            df.dropna(inplace=True)
            df.reset_index(inplace=True)
            df.drop('index', axis=1, inplace=True)
            df.columns = ["Description", "Symbol", "Total Quantity", "Segregated Quantity", "Market Value", "Total Market Value", "Book Value"]
            for col in ["Market Value", "Total Market Value", "Book Value"]:
                df[col] = df[col].str.replace(",", "", regex=True)
                df[col] = df[col].str.replace("$", "", regex=True)
                df[col] = df[col].str.replace("CAD", "", regex=True)
                df[col] = pd.to_numeric(df[col])
        elif 'Last Statement Cash Balance' in df_col:
            # pass/
#              les titres des colone ne sont que la répétitio de la ligne d'avant
            # print(df.columns.to_list())
            for k, v in df.iterrows():
                index_list = v.index.to_list()
                index_list.insert(3, "___")
                row_list = v.to_list()
                # print("index", len(index_list))
                filtered_row = [item for item in row_list if str(item).lower() != 'nan' and (not isinstance(item, float) or not np.isnan(item))]
                # print("row", len(row_list), filtered_row)
        elif 'Index ETF' in df_col:
            # pass
            col_names = ["Description", "Symbol", "Total Quantity", "Segregated Quantity", "Market Value", "Total Market Value", "Book Value"]
            df.columns = col_names
            for col in ["Market Value", "Total Market Value", "Book Value"]:
                df[col] = df[col].str.replace(",", "", regex=True)
                df[col] = df[col].str.replace("$", "", regex=True)
                df[col] = df[col].str.replace("CAD", "", regex=True)
            print(df.dropna())
        elif 'Charged ($)' in df_col:
            pass
        elif 'Segregated Quantity' in df_col:
            pass
        else:
            print(df.columns.to_list())